.attendanceSystem {
  background-color: var(--color-background);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainContent {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: rgba(220, 220, 220, 0.25) 0 4px 21px;
  border-radius: 16px;
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.dateInfo {
  background-color: rgba(231, 231, 231, 1);
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.currentTime {
  padding-top: 42px;
  color: var(--color-text-primary);
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}

.actionButtons {
  display: flex;
  gap: var(--spacing-medium);
  margin-top: var(--spacing-small);
}

.checkInButton {
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
  color: var(--color-text-on-primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  width: 112px;
  height: 40px;
  cursor: pointer;
}

.checkedOutButton {
  align-items: center;
  justify-content: center;
  background-color: var(--color-secondary);
  border-radius: var(--border-radius);
  color: var(--color-text-on-secondary);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  width: 112px;
  height: 40px;
  cursor: pointer;
}